{% extends 'home.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <br>
  <p><strong>-- OR --</strong></p>
  <div>
    <button><a href="{% url 'social:begin' 'github' %}">Login with GitHub <i class="fa fa-github"></i></a></button>
  </div>
  <div>
    <button><a href="{% url 'social:begin' 'twitter' %}">Login with Twitter <i class="fa fa-twitter"></i></a></button>
  </div>
  <div>
    <button><a href="{% url 'social:begin' 'facebook' %}">Login with Facebook <i class="fa fa-facebook-official"></i></a></button>
  </div>
{% endblock %}