{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block titles %}{% trans "Home" %}{% endblock titles %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <!-- jQuery Version 3.1.1 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    {% block extra_scripts %}{% endblock extra_scripts %}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/justified-nav.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static "js/ie-emulation-modes-warning.js" %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Page Content -->
    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">{% trans "Malaria" %}</h3>
        <nav>
          <ul class="nav nav-justified">
            <li >
                <a href="{% url 'landing' %}">{% trans "Landing" %}</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'cas_palu' %}">{% trans "Malaria cases" %}</a>
            </li>
            <li>
                <a href="{% url 'situation_stock' %}">{% trans "Stocks of medicines" %}</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">{% trans "Logout" %}</a>
            </li>
            {% else %}
                <li>
                <a href="{% url 'login' %}">{% trans "Login" %}</a>
            </li>  
            {% endif %}
          </ul>
        </nav>
      </div>
      <div >
        {% block loggins %}
            <!-- Jumbotron -->
        <div class="jumbotron">
        <h1>{% trans "Dashboard on Malaria in Burundi" %}</b></h1>
        <p class="lead">{% trans "Visualizations of malaria data in Burundi" %}</p>
        <p><a class="btn btn-lg btn-success" href="#MOH" role="button">{% trans "Read More" %}</a></p>
      </div>

      <!-- Example row of columns -->
      <hr class="featurette-divider">
      <div class="row featurette" id="MOH" >
        <div class="col-md-7 lead">{% trans "Malaria remains one of the leading causes of global morbidity and mortality and more than 85 &percnt; of cases and 90 &percnt; of deaths occur in sub-Saharan Africa. Malaria is caused by parasites of the genus Plasmodium transmitted to humans by bites of infected Anopheles mosquitoes, known as malaria vectors. There are 5 species of parasites responsible for malaria in humans, of which 2 - Plasmodium falciparum and P. vivax are the most dangerous. Plasmodium falciparum is the most widespread malaria parasite on the African continent." %}
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="{% static 'img/Burundi.png' %}" alt="Ministry of Public Health and the Fight against AIDS" >
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="{% static 'img/Mousticaire.jpg' %}" alt="Mousticaire">
        </div>
        <div class="col-md-7 lead">{% trans "In Burundi, malaria is the first public health problem and a major socio-economic burden. By 2016, the year-to-date has reached almost 8 million cases and more than 3,000 deaths. The vast majority of cases are due to Plasmodium falciparum (86 &percnt;) which is the deadly parasite. Children under 5 are the most affected, although care is free for this category. In addition to climatic factors, factors related to immunity, socio-economic factors and the ineffective use of preventive measures, there is a high prevalence of malnutrition in the most affected areas." %}
        </div>
      </div>
      <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 lead">{% trans "The use of mobile and wireless devices to support medical and public health practice and research (m-Health) is attracting more and more attention because it offers opportunities to connect quickly to people, thus reducing delays in the whole chain of health decisions and positively affecting the lives of millions of people. SMS is based on a well-recognized communication system and can reach areas where there are limited communication possibilities and hard to reach areas, so that it can be used by the lowest health." %}</div>
          <div <div class="col-md-5">
            <img class="featurette-image img-responsive pull-left" src="{% static 'img/Rapidpro.jpg' %}" alt="ICT4D">
          </div>
        </div>
        <!-- /.row -->
        {% endblock loggins %}

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2017 <b>UNICEF</b> Burundi</p>
      </footer>

    </div> <!-- /container -->


    </div>
    <!-- /.container -->

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
</body>

</html>