{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block titles %}Cas Palu{% endblock titles %}

{% block additional_filter %}
{% endblock additional_filter %}


{% block custom_js %}
<script src="{% static "js/cas-palu.js" %}"></script>
<script src="{% static "js/angular-ui-bootstrap-modal.js" %}"></script>
{% endblock custom_js %}

{% block content %}
    <div class="container-fluid">
        <div class="col-lg-12" >
        <table  class="table table-bordered text-center"  data-toggle="table" datatable="ng" dt-options="dtOptions" >
            <thead>
                <tr>
                    <th rowspan="3">Province</th>
                    {% verbatim %}
                    <th ng-if="districtss" rowspan="3">District</th>
                    <th ng-if="cdsss" rowspan="3">Cds</th>
                    {% endverbatim %}
                    <th rowspan="3">Code </th>
                    <th colspan="4">Paludisme</th>
                    <th colspan="2">Tests réalisés</th>
                    <th rowspan="3">Total Tests positifs</th>
                </tr>
                <tr>
                    <th colspan="3">Cas confirmés</th>
                    <th rowspan="2">Décès</th>
                    <th rowspan="2">GE</th>
                    <th rowspan="2">TDR</th>
                </tr>
                <tr>
                    <th >Simple</th>
                    <th >Grave</th>
                    <th >Femme enceinte</th>
                </tr>
            </thead>
            <tbody>
                {% verbatim %}
                <tr ng-repeat="(x, y) in structures" >
                    <td >{{ y.province}}</td>
                    <td ng-if="districtss">{{y.district}}</td>
                    <td ng-if="cdsss">{{y.cds}}</td>
                    <td ><a class="btn"  ng-click="open()">{{ y.code}}</a></td>
                    <td >{{ y.simple }}</td>
                    <td >{{ y.acute }}</td>
                    <td >{{ y.pregnant_women }}</td>
                    <td >{{ y.decease }}</td>
                    <td >{{ y.ge }}</td>
                    <td >{{ y.tdr }}</td>
                    <td >{{ y.ge + y.tdr }}</td>
                </tr>
              {% endverbatim %}
          </tbody>
      </table>
    </div>
</div>
<div modal="showModal" close="ok()" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="ok()" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reports {% verbatim %}{{cds.name || district.name || province.name}}{% endverbatim %}</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" data-toggle="table" datatable="ng" dt-options="dtOptions" >
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Province</th>
                            <th>District</th>
                            <th>CDS</th>
                            <th>Text</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% verbatim %}
                        <tr ng-repeat="report in reports">
                            <td>{{ report.reporting_date }}</td>
                            <td>{{ report.province }}</td>   
                            <td>{{ report.district }}</td>
                            <td>{{ report.cds }}</td>
                            <td>{{ report.text }}</td>
                            <td>{{ report.category }}</td>
                        </tr>
                        {% endverbatim %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
              <a class="btn btn-success" ng-click="ok()">Okay</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}