{% extends 'home.html' %}
{% load static %}
{% load i18n %}


{% block additional_filter %}
{% endblock additional_filter %}


{% block custom_js %}
<script src="{% static "js/cas-palu.js" %}"></script>
{% endblock custom_js %}

{% block content %}
    <div class="container-fluid">
        <div class="col-lg-12" >
        <table  class="table table-bordered text-center"  data-toggle="table" datatable="ng" dt-options="dtOptions" >
            <thead>
                <tr>
                    <th rowspan="3">Province</th>
                    <th ng-if="district != null" rowspan="3">District</th>
                    <th ng-if="cds != null" rowspan="3">Cds</th>
                    <th rowspan="3">Date </th>
                    <th colspan="4">Paludisme</th>
                    <th colspan="2">Tests réalisés</th>
                    <th rowspan="3">Total Tests positifs</th>
                </tr>
                <tr>
                    <th colspan="3">Cas confirmés</th>
                    <th rowspan="2">Décès</th>
                    <th rowspan="2">GE</th>
                    <th rowspan="2">TDR</th>
                </tr>
                <tr>
                    <th >Simple</th>
                    <th >Grave</th>
                    <th >Femme enceinte</th>
                </tr>
            </thead>
            <tbody>
                {% verbatim %}
                <tr ng-repeat="(x, y) in structures" >
                    <td >{{ y.province}}</td>
                    <td ng-if="district != null">{{y.district}}</td>
                    <td ng-if="cds != null">{{y.cds}}</td>
                    <td >{{ y.reporting_date}}</td>
                    <td >{{ y.simple }}</td>
                    <td >{{ y.acute }}</td>
                    <td >{{ y.pregnant_women }}</td>
                    <td >{{ y.decease }}</td>
                    <td >{{ y.ge }}</td>
                    <td >{{ y.tdr }}</td>
                    <td >{{ y.ge + y.tdr }}</td>
                </tr>
              {% endverbatim %}
          </tbody>
      </table>
    </div>
</div>
{% endblock content %}