{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block titles %}Situation Stock{% endblock titles %}

{% block additional_filter %}
    <form name="report_form" method="POST" action="{% url 'export_to_excel' %}">
        {% verbatim %}
        <input type='hidden' name='province' value={{province}} />
        <input type='hidden' name='district' value={{district}} />
        <input type='hidden' name='cds' value={{cds}} />
        <input type='hidden' name='startdate' value={{startdate}} />
        <input type='hidden' name='enddate' value={{enddate}} />
        {% endverbatim %}
        <input type="submit" value="Download">
    </form>
{% endblock additional_filter %}


{% block custom_js %}
<script src="{% static "js/situation-stock.js" %}"></script>
{% endblock custom_js %}

{% block content %}
    <div class="container-fluid">
        <div class="col-lg-12" ng-controller="ExportCtrl">
        <table  class="table table-bordered text-center"  data-toggle="table" datatable="ng" dt-options="dtOptions" >
            <thead>
                <tr>
                    <th >Province</th>
                    {% verbatim %}
                    <th ng-if="districtss" >District</th>
                    <th ng-if="cdsss" >Cds</th>
                    {% endverbatim %}
                    <th >Week</th>
                    <th >Product</th>
                    <th >Qté au début de la semaine</th>
                    <th >Quantités reçues</th>
                    <th >Quantités distribuées</th>
                    <th >Stock Final à la fin de la semaine</th>
                </tr>
            </thead>
            <tbody>
                {% verbatim %}
                <tr ng-repeat="(x, y) in structures" >
                    <td ><a href="#">{{ y.province}}</a></td>
                    <td ng-if="districtss"><a href="#">{{y.district}}</a></td>
                    <td ng-if="cdsss"><a href="#">{{y.cds}}</a></td>
                    <td >{{ y.week}}</td>
                    <td >{{ y.product}}</td>
                    <td >{{ y.quantity_sd }}</td>
                    <td >{{ y.quantity_sr }}</td>
                    <td >{{ y.quantity_sf - y.quantity_sr - y.quantity_sd }}</td>
                    <td >{{ y.quantity_sf }}</td>
                </tr>
              {% endverbatim %}
          </tbody>
      </table>
    </div>
</div>
{% endblock content %}