{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block titles %}Situation Stock{% endblock titles %}

{% block additional_filter %}
<div class="form-group">
    <label for="product">{% trans "Product:" %}</label>
    <select id="product" class="form-control"  ng-model="product" ng-options="x.designation for x in products track by x.code" ng-change="update_product()">
    <option name="optradio" selected="selected">[ {% trans "Select Product" %} ]</option>'
    </select>
</div>
{% endblock additional_filter %}


{% block custom_js %}
<script src="{% static "js/situation-stock.js" %}"></script>
<script src="{% static "js/angular-ui-bootstrap-modal.js" %}"></script>
{% endblock custom_js %}

{% block content %}
    <div class="container-fluid">
        <div class="col-lg-12" ng-controller="ExportCtrl">
        <table  class="table table-bordered text-center"  data-toggle="table" datatable="ng" dt-options="dtOptions" >
            <thead>
                <tr>
                    <th >Province</th>
                    {% verbatim %}
                    <th ng-if="districtss" >District</th>
                    <th ng-if="cdsss" >Cds</th>
                    {% endverbatim %}
                    <th >Code</th>
                    <th >Qté au début de la semaine</th>
                    <th >Quantités reçues</th>
                    <th >Quantités distribuées</th>
                    <th >Stock Final à la fin de la semaine</th>
                </tr>
            </thead>
            <tbody>
                {% verbatim %}
                <tr ng-repeat="(x, y) in structures" >
                    <td >{{y.province}}</td>
                    <td ng-if="districtss">{{y.district}}</td>
                    <td ng-if="cdsss">{{y.cds}}</td>
                    <td ><a href="#" ng-click="open()">{{y.code}}</a></td>
                    <td >{{ y.quantity_sd }}</td>
                    <td >{{ y.quantity_sr }}</td>
                    <td >{{ y.quantity_sr + y.quantity_sd - y.quantity_sf }}</td>
                    <td >{{ y.quantity_sf }}</td>
                </tr>
              {% endverbatim %}
          </tbody>
      </table>
    </div>
</div>
<div modal="showModal" close="ok()" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="ok()" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reports {% verbatim %}{{cds.name || district.name || province.name}}{% endverbatim %}</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" data-toggle="table" datatable="ng" dt-options="dtOptions" >
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Province</th>
                            <th>District</th>
                            <th>CDS</th>
                            <th>Text</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% verbatim %}
                        <tr ng-repeat="report in reports">
                            <td>{{ report.reporting_date }}</td>
                            <td>{{ report.province }}</td>   
                            <td>{{ report.district }}</td>
                            <td>{{ report.cds }}</td>
                            <td>{{ report.text }}</td>
                            <td>{{ report.category }}</td>
                        </tr>
                        {% endverbatim %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
              <a class="btn btn-success" ng-click="ok()">Okay</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}